#taiji{
    width:100px;
    height:50px;
    border:2px black solid;
    border-width:2px 2px 50px 2px;
    border-radius:100%;
    background:white;
    position:relative;
    
  }
  #taiji:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: white;
    border: 19px solid black ;
    border-radius: 100%;
    width: 12px;
    height: 12px;
  }
  #taiji:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      background: black;
      border: 19px solid white;
      border-radius:100%;
      width: 12px;
      height: 12px;